:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Work Sans", sans-serif;
}

*:focus {
  outline: none;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: var(--blue-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--blue-alt-color);
}

.page {
  background-color: #f1f5f9;
  min-height: 100vh;
}

/* start global component */
.toggle-checkbox {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}
.toggle-switch {
  position: relative;
  width: 80px;
  height: 33px;
  border-radius: 14px;
  background-color: #ccc;
  transition: 0.3s;
  cursor: pointer;
}
.toggle-switch::before {
  font-weight: 900;
  font-family: "Font Awesome 6 Free";
  position: absolute;
  content: "\f00d";
  top: 4px;
  left: 4px;
  width: 24px;
  height: 24px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #aaa;
  transition: 0.3s;
}
.toggle-checkbox:checked + .toggle-switch {
  background-color: var(--blue-color);
}
.toggle-checkbox:checked + .toggle-switch::before {
  left: 52px;
  color: var(--blue-color);
  content: "\f00c";
}
.toggle-checkbox:checked + .toggle-switch {
  background-color: var(--blue-color);
}
/* end global component */

/* start sidebar  */
.sidebar {
  width: 250px;
  box-shadow: 0 0 10px #ddd;
}

.sidebar > h3 {
  margin-bottom: 50px;
}

@media (min-width: 768px) {
  .sidebar > h3::after,
  .sidebar > h3::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .sidebar > h3::before {
    height: 3px;
    width: 80px;
    background-color: black;
    bottom: -20px;
  }

  .sidebar > h3::after {
    height: 13px;
    width: 13px;
    border-radius: 50%;
    border: 4px solid white;
    background-color: black;
    bottom: -29px;
  }
}

.sidebar ul li a {
  margin-bottom: 5px;
  transition: 0.3s;
}

.sidebar ul li a:hover,
.sidebar ul li a.active {
  background-color: #f6f6f6;
}

.sidebar ul li a span {
  margin-left: 10px;
  font-size: 14px;
}

@media (max-width: 767px) {
  .sidebar {
    width: 58px;
    padding: 13px;
  }

  .sidebar > h3 {
    font-size: 13px;
    margin-bottom: 15px;
  }

  .sidebar ul li a span {
    display: none;
  }
}

/* End sidebar  */

/* start head */
.content {
  overflow: hidden;
}

.head .search::before {
  content: "\f002";
  font-weight: 900;
  font-family: "Font Awesome 6 Free";
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: var(--grey-color);
}

.head .search input {
  padding-left: 35px;
  border: 1px solid #ccc;
  width: 190px;
  border-radius: 10px;
  transition: width 0.3s;
  margin-left: -5px;
}

.head .search input:focus {
  width: 230px;
}

.head .search input:focus::placeholder {
  opacity: 0;
}

.icons .notification::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  right: -5px;
  top: -5px;
  background-color: var(--red-color);
}

.icons img {
  width: 32px;
  height: 32px;
  margin-left: 15px;
}

.page h1 {
  margin: 20px 20px 40px;
}

.page h1::before,
.page h1::after {
  content: "";
  position: absolute;
  height: 3px;
  left: 0;
  bottom: -10px;
}

.page h1::before {
  background-color: white;
  width: 120px;
}

.page h1::after {
  background-color: black;
  width: 40px;
}

/* end head */

.wrapper {
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .wrapper {
    grid-template-columns: minmax(200px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }
}

/* start welcome widget */
.welcome {
  overflow: hidden;
}

.intro .intro img {
  width: 200px;
  margin-bottom: -15px;
}

.welcome .avatar {
  width: 64px;
  height: 64px;
  border: 2px solid white;
  margin-top: -32px;
  margin-left: 20px;
  padding: 2px;
  border-radius: 50%;
  box-shadow: 0 0 5px #ddd;
}

.welcome .body {
  margin-top: 10px;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
}

.welcome .body > div {
  flex: 1;
}

.welcome .visit {
  margin: 0 20px 20px auto;
  transition: 0.3s;
}

.welcome .visit:hover {
  background-color: var(--blue-alt-color);
}

@media (max-width: 767px) {
  .welcome .intro {
    padding-bottom: 30px;
  }

  .welcome .avatar {
    margin-left: 0;
  }

  .welcome .body > div:not(:last-child) {
    margin-bottom: 20px;
  }
}

/* end welcome widget */

/* start quick-draft widget */
.quick-draft textarea {
  resize: none;
  min-height: 180px;
}

.quick-draft .save {
  cursor: pointer;
  margin-left: auto;
  transition: 0.3s;
}

.quick-draft .save:hover {
  background-color: var(--blue-alt-color);
}

/* end quick-draft widget */

/* start target */
.target .icon {
  width: 80px;
  height: 80px;
  margin-right: 15px;
}

.target .details {
  flex: 1;
}

.target .details .progress {
  height: 4px;
}

.target .details .progress > span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.target .details .progress > span span {
  position: absolute;
  border-radius: 6px;
  bottom: 16px;
  right: -16px;
  font-size: 14px;
  color: white;
  padding: 2px 5px;
}

.target .details .progress > span span::after {
  content: "";
  position: absolute;
  border-color: transparent;
  border-style: solid;
  border-width: 5px;
  left: 50%;
  transform: translatex(-50%);
  bottom: -9px;
}

.target .details .progress > .blue span::after {
  border-top-color: var(--blue-color);
}

.target .details .progress > .orange span::after {
  border-top-color: var(--orange-color);
}

.target .details .progress > .green span::after {
  border-top-color: var(--green-color);
}

.blue .icon,
.blue .progress {
  background-color: rgb(0 117 255 / 20%);
}

.orange .icon,
.orange .progress {
  background-color: rgb(245 158 11 / 20%);
}

.green .icon,
.green .progress {
  background-color: rgb(34 197 94 / 20%);
}

/* end target */

/* start tickets  */
.tickets .box {
  border: 1px solid #ccc;
  width: calc(50% - 10px);
}

@media (max-width: 767px) {
  .tickets .box {
    width: 100%;
  }
}

/* end tickets   */

/* strat latest news  */
.latest-news .news-row:not(:last-of-type) {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.latest-news .news-row img {
  width: 100px;
  border-radius: 6px;
  margin-right: 15px;
}

.latest-news .news-row .info {
  flex-grow: 1;
}

@media (max-width: 767px) {
  .latest-news .news-row .lable {
    margin: 15px auto;
    width: fit-content;
  }
}

/*end latest news  */

/* start search items  */

.tasks .task-row:not(:last-of-type) {
  border-bottom: 1px solid #eee;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.tasks .info {
  flex-grow: 1;
}

.tasks .done {
  opacity: 0.3;
}

.tasks .done h3,
.tasks .done p {
  text-decoration: line-through;
}

.tasks .delete {
  cursor: pointer;
  transition: 0.3s;
}

.tasks .delete:hover {
  color: var(--red-color);
}

/*end search items  */

/* start latest uploads */
.latest-upload ul li:not(:last-of-type) {
  border-bottom: 1px solid #eee;
}

.latest-upload img {
  width: 40px;
  height: 40px;
}

/*end latest uploads  */

/*  start last project*/
.last-project ul::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: var(--blue-color);
  left: 11px;
}

.last-project ul li::before {
  content: "";
  width: 20px;
  height: 20px;
  display: block;
  border-radius: 50%;
  background-color: white;
  border: 2px solid white;
  outline: 2px solid var(--blue-color);
  z-index: 1;
  margin-right: 15px;
}

.last-project ul li.done::before {
  background-color: var(--blue-color);
}

.last-project ul li.current::before {
  animation: change-color 0.8s infinite alternate;
}

@keyframes change-color {
  from {
    background-color: var(--blue-color);
  }

  to {
    background-color: white;
  }
}

.last-project .launch {
  position: absolute;
  width: 150px;
  right: 10px;
  bottom: 10px;
  opacity: 0.1;
}

/*  end last project */

/*  start Reminder*/
.reminder ul li .key {
  width: 20px;
  height: 20px;
}

.reminder ul li > .blue {
  border-left: 3px solid var(--blue-color);
}

.reminder ul li > .green {
  border-left: 3px solid var(--green-color);
}

.reminder ul li > .orange {
  border-left: 3px solid var(--orange-color);
}

.reminder ul li > .red {
  border-left: 3px solid var(--red-color);
}

/* end Reminder */

/*  start latest posts */
.latest-posts img {
  width: 48px;
  height: 48px;
}

.latest-posts .post-content {
  line-height: 1.8;
  text-transform: capitalize;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  min-height: 140px;
}

/*  end latest posts*/

/* start social media  */
.social-media .box {
  padding-left: 70px;
}

.social-media .box i {
  position: absolute;
  width: 52px;
  left: 0;
  top: 0;
  transition: 0.3s;
}

.social-media .twitter {
  background-color: rgb(29 161 242 / 20%);
  color: #1da1f2;
}

.social-media .twitter i,
.social-media .twitter a {
  background-color: #1da1f2;
}

.social-media .facebook {
  background-color: rgb(24 119 242 / 20%);
  color: #1da1f2;
}

.social-media .facebook i,
.social-media .facebook a {
  background-color: #1877f2;
}

.social-media .youtube {
  background-color: rgb(255 0 0 / 20%);
  color: #ff0000;
}

.social-media .youtube i,
.social-media .youtube a {
  background-color: #ff0000;
}

.social-media .linked {
  background-color: rgb(0 119 181 / 20%);
  color: #0077b5;
}

.social-media .linked i,
.social-media .linked a {
  background-color: #0077b5;
}

/*  - end social media*/

/* start project table  */
.project-table .responsive-table {
  overflow-x: auto;
}

.project-table table {
  min-width: 1000px;
  border-spacing: 0;
}

.project-table table td {
  padding: 15px;
}

.project-table tbody td {
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
  transition: 0.3s;
}

.project-table tbody tr:hover td {
  background-color: #faf7f7;
}

.project-table tbody tr td:last-child {
  border-right: 1px solid #eee;
}

.project-table img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  padding: 2px;
  background-color: white;
}

.project-table img:not(:first-child) {
  margin-left: -20px;
}

/* end project table  */

/* //////////////////////////
/////////////settings/////////////////
/////////////////////////////
////////////// */

/*  start settings*/

.setting-page {
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}
@media (max-width: 767px) {
  .setting-page {
    grid-template-columns: minmax(100px, 1fr);
    gap: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
}
.control-box .close-message {
  resize: none;
  border: 1px solid #ccc;
  min-height: 200px;
}

.setting-page .email {
  display: inline-flex;
  width: calc(100% - 80px);
}
.setting-page :disabled {
  cursor: no-drop;
  background-color: #f0f4f8;
  color: #bbb;
}

/* start security */
.security-box .sec-box:not(:last-of-type) {
  border-bottom: 1px solid #eee;
}
.security-box .button {
  transition: 0.3s;
}
.security-box .button:hover {
  background-color: var(--blue-alt-color);
}
/* end security */

/* start social boxes */
.social-boxes i {
  width: 40px;
  height: 40px;
  background-color: #f6f6f6;
  border-right: none;
  border-radius: 6px 0 0 6px;
  border: 1px solid #ddd;
  transition: 0.3s;
}

.social-boxes input {
  height: 40px;
  border: 1px solid #ddd;
  padding-left: 20px;
  border-radius: 0 6px 6px 0;
  caret-color: #ccc;
}
.social-boxes > div:focus-within i {
  color: black;
}
/* start social boxes */

/* /* start widgets-control */
.widgets-control .control input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
}

.widgets-control .control label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}
.widgets-control .control label::before,
.widgets-control .control label::after {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -9px;
  border-radius: 4px;
}

.widgets-control .control label::before {
  content: "";
  width: 14px;
  height: 14px;
  border: 1px solid var(--grey-color);
}

.widgets-control .control label:hover:before {
  border-color: var(--blue-color);
}

.widgets-control .control label::after {
  content: "\f00c";
  font-weight: 900;
  font-family: "Font Awesome 6 Free";
  position: absolute;
  font-size: 12px;
  width: 18px;
  height: 18px;
  background-color: var(--blue-color);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  transform: scale(0) rotate(360deg);
}
.widgets-control .control input[type="checkbox"]:checked + label::after {
  transform: scale(1);
}
/* /* end widgets-control */

/* start backup-control */

.backup-control input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
}
.backup-control .date label {
  padding-left: 30px;
  cursor: pointer;
  position: relative;
}
.backup-control .date label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -11px;
  width: 18px;
  height: 18px;
  border: 2px solid var(--grey-color);
  border-radius: 50%;
}
.backup-control .date label::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 3px;
  width: 12px;
  height: 12px;
  background: var(--blue-color);
  border-radius: 50%;
  transition: 0.3s;
  transform: scale(0);
}
.backup-control .date input[type="radio"]:checked + label::before {
  border-color: var(--blue-color);
}
.backup-control .date input[type="radio"]:checked + label::after {
  transform: scale(1);
}
.backup-control .servers {
  border-top: 1px solid #eee;
  padding-top: 25px;
}
@media (max-width: 767px) {
  .backup-control .servers {
    flex-wrap: wrap;
  }
}
.backup-control .servers .server {
  border: 2px solid #eee;
  position: relative;
}
.backup-control .servers .server label {
  cursor: pointer;
}
.backup-control .servers input[type="radio"]:checked + .server {
  border-color: var(--blue-color);
  color: var(--blue-color);
}
/* end backup-control */
/*end settings */

/* start profile */
@media (max-width: 767px) {
  .profile-page .overviwe {
    flex-direction: column;
  }
}

.profile-page .avatar-box {
  width: 300px;
}
@media (min-width: 768px) {
  .profile-page .avatar-box {
    border-right: 1px solid #eee;
  }
}
.profile-page .avatar-box > img {
  width: 120px;
  height: 120px;
}

.profile-page .avatar-box .level {
  height: 6px;
  width: 70%;
  overflow: hidden;
  margin: auto;
}
.profile-page .avatar-box .level span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--blue-alt-color);
  border-radius: 6px;
}
.profile-page .info .box {
  flex-wrap: wrap;
  border-bottom: 1px solid #eee;
  transition: 0.3s;
}
.profile-page .info .box:hover {
  background-color: #f9f9f9;
}
.profile-page .info .box > div {
  min-width: 250px;
  padding: 10px 0 0;
}
.profile-page .info .box > h3 {
  font-weight: bold;
}
.profile-page .toggle-switch {
  height: 25px;
}
@media (max-width: 767px) {
  .profile-page .toggle-switch {
    margin: auto;
  }
}
.profile-page .toggle-switch::before {
  width: 12px;
  height: 12px;
  font-size: 10px;
  top: 6px;
  left: 8px;
}
.profile-page .toggle-checkbox:checked + .toggle-switch::before {
  left: 60px;
  top: 6px;
}
@media (max-width: 767px) {
  .other-data {
    flex-direction: column;
  }
}
/* start other data */
.other-data .skills {
  flex-grow: 1;
}
.other-data .skills ul li {
  padding: 15px 0;
}
.other-data .skills ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.other-data .skills ul li span {
  display: inline-flex;
  padding: 4px 10px;
  background-color: #eee;
  border-radius: 6px;
  font-size: 14px;
}
.other-data .skills ul li span:not(:last-child) {
  margin-right: 15px;
}

.other-data .activites {
  flex-grow: 2;
}
.other-data .activites .activity:not(:last-child) {
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.other-data .activites .activity img {
  width: 64px;
  height: 64px;
}
@media (min-width: 768px) {
  .other-data .activites .activity img {
    margin-right: 15px;
  }
}

@media (min-width: 768px) {
  .other-data .activites .date {
    margin-left: auto;
    text-align: right;
  }
}

@media (max-width: 767px) {
  .other-data .activites .activity {
    flex-direction: column;
  }
  .other-data .activites img {
    margin-bottom: 10px;
  }
  .other-data .activites .date {
    margin-top: 10px;
  }
}

/* end other data */
/* end profile */


/* start project */
.project-page {
grid-template-columns: repeat(auto-fill , minmax(500px , 1fr));

}
@media (max-width:767px) {
  .project-page{
    grid-template-columns: minmax(200px , 1fr);
    margin-left: 10px;
    margin-left: 10px;
    gap: 10px;
  }
}

.project-page .project > span{
  position: absolute;
  right: 10px;
  top: 10px;
}
.project-page .project h4{
  font-weight: normal;
}
.project-page .project .team{
  position: relative;
  min-height: 80px;
}
.project-page .project a{
  position: absolute;
  left: 0;
  bottom: 0;
}

.project-page .project a:nth-child(2){
  left: 25px;
}
.project-page .project a:nth-child(3){
left: 50px;
}
.project-page .project a:nth-child(4){
left: 75px;
}
.project-page .project a:nth-child(5){
left: 100px;
}
.project-page .project a:hover{
  z-index: 1000;
}

.project-page .project img{
width: 40px;
height: 40px;
border-radius: 50%;
border: 4px solid white;

}

.project-page .project .tech{
  justify-content: end;
  border-top: 1px solid #eee;
  margin-top: 15px;
  padding-top: 15px;
}

.project-page .project .tech span{
  padding: 4px 8px;
    background-color: #eee;
    margin-left: 10px;
    border-radius: 6px;
    width: fit-content;
}
@media (max-width:767px) {
  .project-page .project .tech,
  .project-page .project .info{
   flex-direction: column;
  }
  .project-page .project .tech span{
    margin-bottom: 15px;
  }
}
.project-page .project .info{
  border-top: 1px solid #eee;
  margin-top: 15px;
  padding-top: 15px;
}

.project-page .project .info .prog{
  position: relative;
  height: 8px;
  width: 240px;
  border-radius: 10px;
}
.project-page .project .info .prog span{
  position: absolute;
  height: 100%;
  border-radius: 10px;
  left: 0;
  top: 0;
}

@media (max-width:767px) {
  .project-page .project .info .prog{
   margin-bottom: 15px;
  }
}

/* end project */

/* start courses */

.courses-page {
  grid-template-columns: repeat(auto-fill , minmax(350px , 1fr));
  
  }
  @media (max-width:767px) {
    .courses-page{
      grid-template-columns: minmax(200px , 1fr);
      margin-left: 10px;
      margin-left: 10px;
      gap: 10px;
    }
  }
  .courses-page .course{
    overflow: hidden;
  }
  .courses-page .course .cover{
    width: 100%;
  }
  .courses-page .course .instructor{
    position: absolute;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    top: 10px;
    left: 10px;
    border: 4px solid white;
}
.courses-page .course .info{
  border-top: 1px solid #eee;
}
.courses-page .course .title{
     position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 32px;
    height: 27px;
    font-size: 15px;

}

/* end courses */

/* start friends */
.friends-page {
  grid-template-columns: repeat(auto-fill , minmax(350px , 1fr));
  
  }
  @media (max-width:767px) {
    .friends-page{
      grid-template-columns: minmax(200px , 1fr);
      margin-left: 10px;
      margin-left: 10px;
      gap: 10px;
    }
  }

  .friends-page .friend .contact{
    position: absolute;
    top: 10px;
    left: 10px;
  }
  .friends-page .friend .contact i{
    background-color: #eee;
    padding: 10px;
    border-radius: 50%;
    font-size: 13px;
    color: #666;
    transition: 0.3s;
  }
  .friends-page .friend .contact i:hover{
   background-color: var(--blue-color);
   color: white;
  }
  .friends-page .friend .icons {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
  }
  .friends-page .friend .icons i {
    margin-right: 5px;
  }
  .friends-page .friend  .vip {
  position: absolute ;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 40px;
  opacity: 0.2;
  }


/* end friends */

/* start files  */
.files-page{
  flex-direction: row-reverse;
 align-items: flex-start;
}
@media (max-width:767px) {
  .files-page{
    flex-direction: column;
    align-items: normal;
  }
}
.files-page .file-stats{
min-width: 280px;
}
.files-page .file-stats .icon{
width: 40px;
height: 40px;
margin-right: 10px;
}
.files-page .file-stats .blue{
  background-color: rgb(0 117 255 / 20%);
}
.files-page .file-stats .green{
background-color: rgb(34 197 94 / 20%);
}
.files-page .file-stats .red{
background-color: rgb(244 67 54 / 20%);
}
.files-page .file-stats .blue{
background-color: rgb(0 117 255 / 20%);
}
.files-page .file-stats  .size{
  margin-left: auto;
}
.files-page .file-stats .upload{
padding: 10px 15px;
border-radius: 6px;
display: block;
width: fit-content;
margin: 10px auto 0;
}
.files-page .file-stats .upload:hover {
background-color: var(--blue-alt-color);
}
.files-page .file-stats .upload:hover i{
animation:  go-up 0.8s infinite;
}
@keyframes go-up {
  0%,100%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-5px);
  }
}

.files-page .files-content{
  flex: 1;
  grid-template-columns: repeat(auto-fill , minmax(240px , 1fr));

}
.files-page .files-content img{
  height: 64px;
  width: 64px;
  margin-top: 30px;
  margin-bottom: 15px;
  transition: 0.3s;
}
.files-page .files-content .file:hover img{
  transform:  rotate(5deg);
}
.files-page .files-content .info{
  border-top: 1px solid #eee;
}
/* end files  */

/* start plans  */
.plan-page {
  grid-template-columns: repeat(auto-fill , minmax(500px , 1fr));
  
  }
  @media (max-width:767px) {
    .plan-page{
      grid-template-columns: minmax(250px , 1fr);
      margin-left: 10px;
      margin-left: 10px;
      gap: 10px;
    }
  }
  .plan-page .plan .top{
    border: 3px solid white;
    outline: 3px solid transparent;
  }
  .plan-page .plan.green .top{
    outline: 3px solid var(--green-color);
  }
  .plan-page .plan.blue .top{
    outline: 3px solid var(--blue-color);
  }
  .plan-page .plan.orange .top{
    outline: 3px solid var(--orange-color);
  }
 
  .plan-page .price {
    position: relative;
    font-size: 40px;
    width: fit-content;
    margin: auto;
    font-weight: 500;
    
  }
  .plan-page .price span {
    position: absolute;
    bottom: 20px;
    font-size: 25px;
    left: -20px;

  }
  .plan-page ul li{
    padding: 15px 0;
    font-size: 15px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eee;
  }
  .plan-page ul li i:first-child{
    font-size: 20px ;
    margin-right: 10px;
  }
  .plan-page ul li .yes{
    color: var(--green-color);
  }
  .plan-page ul li i:not(.yes ,.help){
    color: var(--red-color);
  }
  .plan-page ul li .help{
    color: gray;
    margin-left: auto;
    cursor: pointer;
  }
  .plan-page a{
    padding: 15px 25px;
    border-radius: 15px;
    font-size: 18px;
  }
/* end plans  */
